<h1><%= current_user.name %></h1>
<% if @conversations.count > 0 %>
	<h3>Your conversations</h3>
	<ul class="items conversations">
		<% @conversations.each do |conversation| %>
			<li class="item conversation"><%= link_to conversation.title, conversation_messages_path(conversation) %></li>
		<% end %>
	</ul>
<% end %>

<h3>Start a conversation</h3>
<%= render partial: 'new_conversation', locals: {users: @users} %>
