<h1>Registered Developers</h1>

<% if @users.count > 0 %>
	<ul class="items users">
		<% @users.each do |user| %>
			<li class="item user">
				<%= link_to user.name, user_path(user) %>
			</li>
		<% end %>
	</ul>
<% end %>