<% if user.errors.any? %>
	<div id="error_explanation" class="alert alert-danger">
		<a href="#" data-dismiss="alert" class="close">×</a>
		<p><strong><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</strong></p>
		<ul>
			<% user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>