<div class="content-wrap">

	<h1 class="page-title">Create a new project</h1>


	<%= link_to "Back to projects", projects_path, class: 'page-link' %>


	<%= render partial: 'form', locals: {project: @project, skill: @skill} %>

</div>
