<div class="content-wrap">

	<h1 class="page-title">Create a new opportunity</h1>


	<%= link_to "Back to opportunities", opportunities_path, class: 'page-link' %>


	<%= render partial: 'form', locals: {opportunity: @opportunity, skill: @skill} %>

</div>

