/* edit profile styles */

.user-profile {
  margin-bottom: 40px;

  fieldset {

	textarea {
	  height: 160px;
	}

	.image {
	  margin-bottom: 12px;

	  img {
		width: 200px;
	  }
	}

	input[type="file"] {
	  margin-top: 0;
	}
  }
}

fieldset.links  .control-group a {
  margin-top: 14px;
}
